.DS_Store
Thumbs.db
desktop.ini
*.bak
*.swp
*.swo
*.tmp
*.log
*.old
*~
*.o
*.so
*.a
*.out
*.d
*.dSYM/
*.obj
*.exe
*.dll
*.log
*.pid
*.lock
/.venv/
/.env/
/.cache/
.yarn/cache/
.idea/
/.vscode/
*.iml
*.code-workspace
bloom
